<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>ARC Homepage</title>

        {{!-- Bootstrap css link --}}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        {{!-- Google Fonts links --}}
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet"> 

        {{!-- Font Awesome --}}
        <script src="https://kit.fontawesome.com/0a5e91de56.js" crossorigin="anonymous"></script>

        {{!-- css links --}}
        <link rel="stylesheet" href="/css/main.css">
        
        {{#each styleSheets}}
            <link rel="stylesheet" href="/css/{{../cssFolder}}/{{this}}">
        {{/each}}
    </head>

    <body id="page">
        <div class="pageTopper">
            <p class="address">24 Delay St. Danbury CT. 06810 · execdir@arcofpeace.org · 203-792-9450</p>
            <p class="address shortAddress">24 Delay St. Danbury CT. 06810</p>

            <a class="donateTop" href="#">Donate</a>

            <div class="socialMediaTop">
                {{!-- Facebook --}}
                <a href="https://www.facebook.com/ARC-Association-of-Religious-Communities-164806450236677" target="_blank" rel="noreferrer noopener">
                    <i class="fab fa-facebook fa-lg"></i>
                </a>

                {{!-- Twitter --}}
                <a href="https://twitter.com/arc4peace" target="_blank" rel="noreferrer noopener"> 
                    <i class="fab fa-twitter fa-lg"></i>
                </a>

                {{!-- Youtube --}}
                <a href="https://www.youtube.com/channel/UCh6_LsofcS_HMT-3Sr0SutQ/featured" target="_blank" rel="noreferrer noopener">
                    <i class="fab fa-youtube fa-lg"></i>
                </a>
            </div>
        </div>

        {{!-- Navbar --}}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">ARC</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    {{!-- Each 'a' tag is wrapped in an if/else to check and see which page is the user is on, and only give the 'active' class name to the proper page. --}}
                    <li class="nav-item">
                        {{#if home}}
                            <a class="nav-link active" href="/">Home</a>
                        {{else}}
                            <a class="nav-link" href="/">Home</a>
                        {{/if}}
                    </li>

                    <li class="nav-item">
                        <div class="dropdown">
                            {{#if about}}
                                <a class="nav-link active dropdown-toggle" href="/about" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    About
                                </a>
                            {{else}}
                                <a class="nav-link dropdown-toggle" href="" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    About
                                </a>
                            {{/if}}


                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="/about">Our Story</a>
                                <a class="dropdown-item" href="#">Press Room</a>
                                <a class="dropdown-item" href="#">Blog: Forum on Faith</a>
                                <a class="dropdown-item" href="#">Contact Us</a>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item">
                        {{#if programs}}
                            <a class="nav-link active" href="/programs">Programs</a>
                        {{else}}
                            <a class="nav-link" href="/programs">Programs</a>
                        {{/if}}
                    </li>

                    <li class="nav-item">
                        {{#if gallery}}
                            <a class="nav-link active" href="/gallery">Gallery</a>
                        {{else}}
                            <a class="nav-link" href="/gallery">Gallery</a>
                        {{/if}}
                    </li>

                    <li class="nav-item">
                        {{#if involved}}
                            <a class="nav-link active" href="/involved">Get Involved</a>
                        {{else}}
                            <a class="nav-link" href="/involved">Get Involved</a>
                        {{/if}}
                    </li>

                    <li class="nav-item donateNav">
                        <a class="nav-link donateBtn" href="#">Donate</a>
                    </li>
                </ul>
            </div>
        </nav>

        {{!-- Main Content --}}
        {{{ body }}}


        {{!-- Footer --}}
        <footer>
            <div class="container">
                {{!-- Email and Social Media Links --}}
                <div class="footerTop">
                    <form>
                        <p class="signUpTitle">Sign Up for the Latest Updates on ARC</p>

                        <div class="form-group">
                            <input type="email" class="form-control" id="emailInput" placeholder="Enter Email Address">
                            <button type="submit" class="btn signUpBtn">Sign Up</button>
                        </div>
                    </form>

                    <div class="socialMediaFooter">
                        {{!-- Facebook --}}
                        <a href="https://www.facebook.com/ARC-Association-of-Religious-Communities-164806450236677" target="_blank" rel="noreferrer noopener">
                            <i class="fab fabFooter fa-facebook fa-2x"></i>
                        </a>

                        {{!-- Twitter --}}
                        <a href="https://twitter.com/arc4peace" target="_blank" rel="noreferrer noopener">
                            <i class="fab fabFooter fa-twitter fa-2x"></i>
                        </a>

                        {{!-- Youtube --}}
                        <a href="https://www.youtube.com/channel/UCh6_LsofcS_HMT-3Sr0SutQ/featured" target="_blank" rel="noreferrer noopener">
                            <i class="fab fabFooter fa-youtube fa-2x"></i>
                        </a>
                    </div>
                </div>

                {{!-- Webpage Links and Google Maps --}}
                <div class="footerBottom">
                    <ul class="mainLinks">
                        <li>
                            <a href="/">Home</a>
                        </li>

                        <li>
                            <a href="/about">About Us</a>
                        </li>

                        <li>
                            <a href="/programs">Programs</a>
                        </li>

                        <li>
                            <a href="#">Press & Media</a>
                        </li>

                        <li>
                            <a href="/gallery">Photo Gallery</a>
                        </li>

                        <li>
                            <a href="/involved">Get Involved</a>
                        </li>

                        <li>
                            <a href="#">Donate</a>
                        </li>
                    </ul>

                    <ul class="secondaryLinks">
                        <li>
                            <a href="#">Financials</a>
                        </li>

                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>

                        <li>
                            <a href="#">Terms of Use</a>
                        </li>
                    </ul>

                    <ul class="footerContact">
                        <li>24 Delay St.</li>
                        <li>Danbury, CT 06810</li>

                        <li id="phone">Phone: 203-792-9459</li>

                        <li id="email">
                            <a href="mailto:execdir@arcofpeace.org">Email: execdir@arcofpeace.org</a>
                        </li>
                    </ul>

                    {{!-- Google maps --}}
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2993.037085216762!2d-73.45347468461361!3d41.39500097926351!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e7ff6fd9bdf9cf%3A0xa5af217af05a9b70!2s24%20Delay%20St%2C%20Danbury%2C%20CT%2006810!5e0!3m2!1sen!2sus!4v1607234498017!5m2!1sen!2sus" width="250" height="250" frameborder="1px solid black" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" id="map"></iframe>
                </div>
            </div>
        </footer>

        {{!-- jQuery/Bootstrap links --}}
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

        {{!-- JS Links --}}
        <script src="/js/main.js"></script>

        {{!-- If the page has it's own Javascript file --}}
        {{#if javascript}}
            <script src="/js/{{javascript}}"></script>
        {{/if}}
    </body>
</html>