<div class="container blog">
    <img src="{{img}}" alt="...">

    <h3 class="title">{{title}}</h3>
    <p class="author">By {{author}}</p>
    <p class="date">Published: {{date}}</p>


    {{#each paragraphs}}
        <p style="font-size: 18px;">{{this}}</p>
    {{/each}}
</div>
