<div class="container">
    <h1>Press & Media</h1>

    <div class="row pressRow">
        {{#each card}}
            <div class="col-md-3 pressCard">
                <img src="{{this.img}}" alt="...">

                <p class="title">{{this.title}}</p>
                <p class="date">{{this.date}}</p>
                <p class="message">{{this.message}}...</p>
                <a href="/press/{{url}}">Read more</a>
            </div>
        {{/each}}
    </div>
</div>
